.desease-details{
    border: solid gray 1px;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: #c6f7f0;
    box-shadow: 2px 4px gray;
}

.desease-description{
    text-align: left;
    padding: 4%;
}

.risk-link{
    color: black;
    text-decoration: none;
}

hr{
    width: 90%;
    color: gray;
}
