.udf-root{
    color: gray;
    display: flex;
}

.udf-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}


.stress{
    max-width: 55%;
}

.radioGroup{
    display: flex;
    flex-direction: row;
}

.smokerTD {
    min-width: 190px;
    display: 'flex';
    flex-direction: 'row';
}

.table {
    border: solid gray 1px;
    border-radius: 2%;
    width: 100%;
    background-color: #c6f7f0;
    box-shadow: 5px 10px;
}

.full-td {
    width: 70% !important;
}

.full-td55 {
    width: 55% !important;
}
